html, body{
	background-color: #222;
	font-family: Arial;
	color: #9d9d9d;
}

.container{
	padding-left: 8%;
	padding-right: 8%;
	min-height: 100%;
	z-index: 0;
	background-color: #222;
	height: 100%;
}

.navbar{
	background-color: #222;
	font-size: 18px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar ul{
	list-style-type: none; 
	padding-left: 0;
	margin: 0;
}

.navbar li{
	display: inline;
	margin-right: 20px;
}

.navbar a{
	text-decoration: none;
	color: #9d9d9d;
}

.navbar a:hover{
	color: white;
}

.search{
	background-color: #222;
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #6B6565;
	padding-right: 4%;
	padding-left: 4%;
}

.search > label:first-child{
	margin-left: 8%;
}

.search > label{
	margin-bottom: 0;
	font-weight: normal;
	color: #9d9d9d;
	margin-left: 10px;
	margin-right: 5px;
}

.search > input{
	width: 120px;
}

.search > button{
	margin-left: 10px;
}

.content{
	display: inline-block;
	z-index: 1;
	height: 100%;
	width: 96%;
	background-color: #222;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #6B6565;
	border-right: 1px solid #6B6565;
}

.champPic{
	width: 50px;
	height: 50px;
}

.spellPic{
	width: 25px;
	height: 25px;
}

.itemPic{
	width: 25px;
	height: 25px;
}

.iconPic{
	width: 25px;
	height: 25px;	
}

table, td{
	border: 1px solid white;
	border-collapse: collapse;
	margin: 0;
}

.blue_player_champ0, .blue_player_spells0, .blue_player_items0, .red_player_champ0, .red_player_spells0, .red_player_items0{
	font-size: 0;
	padding: 0;
	margin: 0;
}

.blue_player_name0, .blue_player_kda0, .blue_player_cs0, .blue_player_gold0, .red_player_name0, .red_player_kda0, .red_player_cs0, .red_player_gold0{
	font-size: 11px;
	white-space: nowrap;
}