table{
	border-spacing: 0px;
}

.minisummary{
	border-top: 1px solid #6B6565;
	border-left: 1px solid #6B6565;
	border-right: 1px solid #6B6565;
}

.minitable{
	border-bottom: 1px solid #6B6565;
	border-left: 1px solid #6B6565;
	border-right: 1px solid #6B6565;
}

.matchTitle{
	font-weight: bold;
	padding-left: 4%;
}

.champPic{
	width: 50px;
	height: 50px;
}

.spellPic{
	width: 25px;
	height: 25px;
}

.itemPic{
	width: 25px;
	height: 25px;
}

.iconPic{
	width: 25px;
	height: 25px;	
}

.resultstable{
	margin: 0 auto;
	background-color: black;
	margin-bottom: 25px
}

.resultstablediv{
	text-align: center;
}

.resultstable, td > td{
	border: 1px solid #6B6565;
	border-spacing: 0;
	border-collapse: collapse;
}

.minitable, .minisummary{
	width: 80%;
	margin:0 auto;
}

.minisummary_result{
	text-align: right;
	padding-right: 5px;
}

.minitable{
	margin-bottom: 5px;
}

.miniplayer_row > td{
	text-align: center;
}

.minplayer_stats{
	width:150px;
}

.blue_player_champ, .blue_player_spells, .blue_player_items, .red_player_champ, .red_player_spells, .red_player_items{
	font-size: 0;
}

.blue_player, .red_player{
	width: 400px;
}

.blue_player_champ, .red_player_champ, .icon_0{
	width: 50px;
}

.blue_player_spells, .red_player_spells, .icon_1{
	width: 25px;
}

.blue_player_name, .red_player_name, .icon_2{
	width: 90px;
}

.blue_player_kda, .red_player_kda, .icon_3{
	width: 60px;
}

.blue_player_items, .red_player_items, .icon_4{
	width: 100px;
}

.blue_player_items, .red_player_items{
	height: 50px;
	text-align: center;
}

.blue_player_cs, .red_player_cs, .icon_5{
	width: 50px;
}

.blue_player_gold, .red_player_gold, .icon_6{
	width: 50px;
}

.blue_player_wards, .red_player_wards, .icon_7{
	width: 50px;
	text-align: center;
}

.icon_0, .icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6{
	text-align: center;
}

.blue_player_name, .blue_player_kda, .blue_player_cs, .blue_player_gold,.blue_player_wards, .red_player_name, .red_player_kda, .red_player_cs, .red_player_gold,.red_player_wards {
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
}

#historyLink{
	background-color: #595959;
	border-radius: 5px;
}