table{
	border-spacing: 0px;
}

.minisummary{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.minitable{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.matchTitle{
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.champPic{
	width: 50px;
	height: 50px;
}

.spellPic{
	width: 25px;
	height: 25px;
}

.itemPic{
	width: 25px;
	height: 25px;
}

.iconPic{
	width: 25px;
	height: 25px;	
}

.resultstable{
	margin: 0 auto;
	background-color: black;
	margin-bottom: 25px
}

.resultsTableDiv{
	text-align: center;
}

td > td{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse;
}

td > td:last-child{
	border-right: 1px solid black;
}

.blue_player_wards{
	border-right: none;
}

.icon_7{
	border-right: none;
}

.minitable, .minisummary{
	width: 80%;
	margin:0 auto;
}

.minisummary_result{
	text-align: right;
	padding-right: 5px;
}

.minitable{
	margin-bottom: 5px;
}

.miniplayer_row > td{
	text-align: center;
}

.minplayer_stats{
	width:150px;
}

.blue_player_champ, .blue_player_spells, .blue_player_items, .red_player_champ, .red_player_spells, .red_player_items{
	font-size: 0;
}

.blue_player, .red_player{
	width: 400px;
}

.blue_player_champ, .red_player_champ, .icon_0{
	width: 50px;
}

.blue_player_spells, .red_player_spells, .icon_1{
	width: 25px;
}

.blue_player_name, .red_player_name, .icon_2{
	width: 90px;
}

.blue_player_kda, .red_player_kda, .icon_3{
	width: 60px;
}

.blue_player_items, .red_player_items, .icon_4{
	width: 101px;
}

.blue_player_items, .red_player_items{
	height: 50px;
	text-align: center;
}

.blue_player_trinket, .red_player_trinket, .icon_5{
	width: 50px;
}

.blue_player_cs, .red_player_cs, .icon_6{
	width: 50px;
}

.blue_player_gold, .red_player_gold, .icon_7{
	width: 50px;
}

.blue_player_wards, .red_player_wards, .icon_8{
	width: 50px;
	text-align: center;
}

.icon_0, .icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_7, .icon_8{
	text-align: center;
}

.resultstable td, .resultstable th{
	border: 1px solid black;
	border-collapse: collapse;
}

.blue_player_name, .blue_player_kda, .blue_player_cs, .blue_player_gold,.blue_player_wards, .red_player_name, .red_player_kda, .red_player_cs, .red_player_gold,.red_player_wards {
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
}

#image img{
	width: 100%;
	border: 1px solid black;

}

#mainWrap{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0;
}

.minitable, .minisummary{
	cursor: pointer;
}