.table > tbody > tr > td{
	border-top: 1px solid black !important;
	text-align: center;
}

.table > tbody > tr > th{
	border-top: none !important;
	border-bottom: 2px solid black !important;
}

.table > tbody > tr > th, .table > tbody > tr > td{
	border-left: 1px solid black !important;
	text-align: center;
}

.table > tbody > tr > th:first-child, .table > tbody > tr > td:first-child{
	border-right: 1px solid black !important;
	border-left: none !important;
}

#fresh, #hot{
	display: inline-block;
}

#image img{
	width: 100%;
	border: 1px solid black;
}

#mainWrap{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0;
}

.division{
	text-align: center;
}

.dispRank{
	/*text-align: center;*/
	font-size: 26px;
	display: inline-block;
}

.rankPic{
	/*text-align: center;*/
	display: inline-block;
	width: 150px;
}