
html, body{
	background-color: #222;
	font-family: Arial;
	color: #9d9d9d;
	margin: 0;
	padding: 0;
}

input{
    border: 1px solid #9d9d9d; 
    border-radius: 8px;
    padding: 4px;
}

button{
    border: 1px solid #222; 
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

button:hover{
	background-color: #9d9d9d;
}

.container{
	padding-left: 8%;
	padding-right: 8%;
	min-height: 100%;
	z-index: 0;
	background-color: #222;
	height: 100%;
}

.navbar{
	background-color: #222;
	font-size: 12px;
	padding-left: 12%;
	padding-right: 12%;
	border-bottom: 1px solid #6B6565;
	left: 0;
}

.menu{
	display: inline-block;
	padding: 10px;
}

.regionSelect{
	padding: 8px;
	float: right;
	display: inline-block;
}

.navbar ul{
	list-style-type: none; 
	padding-left: 0;
	margin: 0;
}

.navbar li{
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar li:first-child{
	border-right: 1px solid #6B6565;
}

.navbar a{
	text-decoration: none;
	color: #9d9d9d;
}

.navbar a:hover{
	color: white;
}

.search{
	text-align: center;
	background-color: #222;
	font-size: 12px;
	padding-right: 12%;
	padding-left: 12%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.search > label{
	margin-bottom: 0;
	font-weight: normal;
	color: #9d9d9d;
	margin-left: 10px;
	margin-right: 5px;
}

.search > input{
	width: 120px;
}

.search > button{
	margin-left: 10px;
}

.content{
	display: inline-block;
	z-index: 1;
	height: 100%;
	width: 96%;
	background-color: #222;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #6B6565;
	border-right: 1px solid #6B6565;
}