html, body{
	background-color: #424242;
	font-family: "Titillium Web", sans-serif, Arial;
	color: #bdbcbc;
	margin: 0;
	padding: 0;
}

button{
    border: 1px solid #6B6565; 
    background-color: #bdbcbc;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

button:hover{
	background-color: #767676;
}

.container{
	padding-left: 8%;
	padding-right: 8%;
	min-height: 100%;
	z-index: 0;
	background-color: #424242;
	height: 100%;
}

.navbar{
	background-color: #424242;
	font-size: 12px;
	padding-left: 12%;
	padding-right: 12%;
	border-bottom: 1px solid #6B6565;
}

.menu{
	display: inline-block;
	padding: 10px;
}

.regionSelect{
	padding: 8px;
	float: right;
	display: inline-block;
}

.navbar ul{
	list-style-type: none; 
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.navbar li{
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar li:first-child{
	/*border-right: 1px solid #6B6565;*/
}

.navbar a{
	text-decoration: none;
	color: #bdbcbc;
}

.navbar li:hover{
	color: #ffffff;
	background-color: #4d4d4d;
	border-radius: 5px;
}

.search{
	text-align: center;
	background-color: #424242;
	font-size: 12px;
	padding-right: 12%;
	padding-left: 12%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.search > label{
	margin-bottom: 0;
	font-weight: normal;
	color: #bdbcbc;
	margin-left: 10px;
	margin-right: 5px;
}

.search > input{
	width: 140px;
	border: 1px solid #9d9d9d; 
    border-radius: 5px;
    padding: 4px;
}

.search > button{
	margin-left: 10px;
}

.content{
	display: inline-block;
	z-index: 1;
	height: 100%;
	width: 96%;
	background-color: #424242;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #6B6565;
	border-right: 1px solid #6B6565;
}