html, body{
	background-color: #222 !important;
	font-family: "Titillium Web", sans-serif, Arial !important;
	color: #9d9d9d !important;
	margin: 0;
	padding: 0;
	z-index: -1;
}

.navbar li{
	font-size: 12px;
}

.navbar-header{
	font-size: 10px;
}

.navbar-brand {
	font-size: 14px !important;
}

#search{
	margin-bottom: 10px;
}

button{
	color: black !important;
}

input{
	color: black !important;
}

select{
	color: black !important;
}