html, body{
	background-color: #111 !important;
	font-family: "Titillium Web", sans-serif, Arial !important;
	color: #9d9d9d !important;
	margin: 0;
	padding: 0;
	z-index: -1;
	height: 100%;
}

.navbar{
	background-color: #343434 !important; 
	box-shadow: 0px 5px 5px 0px black;
	border: none !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.navbar-inverse .navbar-nav > .active > a{
     background: #d65c14 !important;
}

.navbar li{
	font-size: 12px;
}

.navbar-header{
	font-size: 10px;
}

.navbar-brand {
	font-size: 14px !important;
	/*width:150px;*/
}

#container{
	background-color: #242424;
	margin-left: 6.5% !important;
	margin-right: 6.5% !important;
	padding: 0 !important;
	min-height: 100% !important;
	box-shadow: 0px 10px 5px 8px black;
}

button{
	color: black !important;
}

input{
	color: black !important;
}

select{
	color: black !important;
}

.customSelect{
	width: auto !important;
  	margin: 10px !important;
  	height: 30px !important;
  	font-size: 12px !important;
  	display: inline-block !important;
  	padding: 3px !important;
}

.customBut{
	width: auto !important;
  	margin: 5px !important;
  	height: 30px !important;
  	font-size: 12px !important;
  	display: inline-block !important;
  	padding-top: 3px !important;
  	padding-bottom: 3px !important;
  	padding-left: 20px !important;
  	padding-right: 20px !important;
}

.customInput{
	margin: 10px !important;
	height: 30px !important;
	font-size: 12px !important;
}

.customNav{
	margin: 0 !important;
	padding-left: 0 !important;
}

#summoner{
	font-size: 12px;
	margin-bottom: 0;
}

.bolt{
	height:20px;
	display:inline;
}