.userstats{
	padding-left: 4%;
}

.player{
	margin-top: 2%;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.userSum{
	display: table-cell;
	border: 1px solid #6B6565;
	margin-left: 4%;
	margin-right: 4%;
	margin: 0;
	height: 80px;
	width: 25%;
}

.solo{
	margin: 0;
	height: 100%;
	border: 1px solid #6B6565;
	width: 25%;
	display: table-cell;	
}

.threes{
	margin: 0;
	height: 100%;
	border: 1px solid #6B6565;;
	width: 25%;
	display: table-cell;	
}

.fives{
	margin: 0;	
	height: 100%;
	border: 1px solid #6B6565;
	width: 25%;
	display: table-cell;
}

.userName{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 120px;
	height: 40px;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
	float: right;
}

.userLevel{
	width: 120px;
	height: 40px;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-size: 12px;
	float: right;
}

.iconPic{
	width: 80px;
	height: 80px;
	float: left;
}

.rankPic{
	margin-left: 20px;
	height: 60px;
}

#profileLink{
	background-color: #595959;
	border-radius: 5px;
}

